<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975024222528-injntmqe0rvmf63vvka386944v11qe0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975024222528-injntmqe0rvmf63vvka386944v11qe0c</string>
	<key>API_KEY</key>
	<string>AIzaSyBPpYXPsWn22-YDwJQekigDsZ2qR4hHXaI</string>
	<key>GCM_SENDER_ID</key>
	<string>975024222528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ngominhtong.Instelegram</string>
	<key>PROJECT_ID</key>
	<string>instelegram-11d09</string>
	<key>STORAGE_BUCKET</key>
	<string>instelegram-11d09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975024222528:ios:6d4af6cf7088da85c58aa5</string>
</dict>
</plist>